@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap");
nav a, nav a:hover { -webkit-transition: 1s ease; transition: 1s ease; }

.content, #boasVindas, .dev, .dev .info, #trab, #trab #recents .trab, #trab #recents .trab a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.content, #boasVindas, .dev .info, #trab { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.mt-1 { margin-top: 1rem; }

.mb-1 { margin-bottom: 1rem; }

.ml-1 { margin-left: 1rem; }

.mt-2 { margin-top: 2rem; }

.mb-2 { margin-bottom: 2rem; }

.ml-2 { margin-left: 2rem; }

.mt-3 { margin-top: 3rem; }

.mb-3 { margin-bottom: 3rem; }

.ml-3 { margin-left: 3rem; }

.mt-5 { margin-top: 5rem; }

.mb-5 { margin-bottom: 5rem; }

.ml-5 { margin-left: 5rem; }

.mt-7 { margin-top: 7rem; }

.mb-7 { margin-bottom: 7rem; }

.ml-7 { margin-left: 7rem; }

.mt-8 { margin-top: 8rem; }

.mb-8 { margin-bottom: 8rem; }

.ml-8 { margin-left: 8rem; }

.mt-10 { margin-top: 10rem; }

.mb-10 { margin-bottom: 10rem; }

.ml-10 { margin-left: 10rem; }

.mt-15 { margin-top: 15rem; }

.mb-15 { margin-bottom: 15rem; }

.ml-15 { margin-left: 15rem; }

nav { padding: 2.5% 5%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

nav img { width: 95px; height: 55px; }

nav a { text-decoration: none; color: #974DF7; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 150px; font-size: 16px; height: 35px; border-radius: 37px; border: 2.5px #974DF7 solid; }

nav a:hover { background-color: #974DF7; color: white; }

.content { padding: 0 15%; }

.content h1 { color: #141C3A; }

.content h2 { text-align: center; width: 70%; font-size: 20px; font-weight: 500; }

.content img { width: 500px; height: 175px; }

.content #pc img { width: 747px; height: 298.5px; }

#boasVindas { background: #7510F7; margin-top: -5px; }

#boasVindas h1 { color: white; text-align: center; }

#boasVindas p { padding: 0 20%; text-align: center; font-weight: 600; color: white; }

.dev { margin-top: -200px; width: 700px; height: 500px; background: white; border-radius: 50px; -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); }

.dev .info { width: 233.33px; height: 100%; border-right: 1px #969696 solid; }

.dev .info img { width: 68.5px; height: 59.5px; color: black; }

.dev .info h1 { font-size: 20px; }

.dev .info p { text-align: center; font-weight: 500; padding: 10%; }

.dev .info h2 { font-weight: 700; color: #7510F7; font-size: 10px; }

.dev .info h3 { font-size: 10px; font-weight: normal; }

.dev .info li { font-size: 10px; font-weight: normal; display: block; margin-bottom: 10px; }

.info:last-child { border-right: 0; }

#trab { text-align: center; }

#trab p { font-weight: 400; }

#trab #recents { width: 80%; display: -ms-grid; display: grid; -ms-grid-columns: 1fr 2fr 1fr; grid-template-columns: 1fr 2fr 1fr; }

#trab #recents .trab { width: 253px; margin: 2.5%; height: 154px; background: #7510F7; border-radius: 18px; }

#trab #recents .trab a { text-decoration: none; color: white; width: 50%; background: #AA6EDB; padding: 5%; border-radius: 15px; margin-top: 80px; -webkit-transition: 1s ease; transition: 1s ease; }

#trab #recents .trab a:hover { -webkit-transition: 1s ease; transition: 1s ease; background: #65388A; }

* { margin: 0; padding: 0; -webkit-box-sizing: none; box-sizing: none; font-family: 'Montserrat', sans-serif; font-weight: 900; }
